
.create-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }
  
  .product-create-fields {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%; 
    margin: auto;
    padding: 10px;
  }
  
  .product-create-fields label {
    text-align: center;
    color: rgb(1, 2, 10); 
    font-weight: bold;
  }
  
  .product-name-field,
  .product-image-field,
  .product-description-field,
  .product-price-field {
    display: flex;
   flex-direction: column;
    gap: 8px;
  }
  