.product-card{
    display: flex;
    flex-direction: column;
    width: 290px;
    transition:transform 0.5s; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    
}
.product-card:hover{
    transform: scale(1.05);
}
.product-price{
    text-align: left;
}
.product-name{
    text-align: left;
   
}
.product-card .product-image{
    width: 280px;
    height: 400px;
    object-fit:cover;
}
