.product-details {
  padding: 50px 30px;
}
.details-page-container {
  display: flex;
  gap: 60px;
  width: 100%;
}

.details-page-container .right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-details-img-wrapper {
  width: 50%;
}
.product-details-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.right-wrapper .button-container {
  display: flex;

  gap: 20px;
}
.category-wrapper {
  margin-top: 50px;
}
.category-wrapper h4 {
  padding-bottom: 30px;
}
